@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

html {
  --background--main-color: #94daff;
  --background--secondary-color: #94b3fd;
  --background--third-color: #b983ff;
  --background-btn--main-color: #ffffff;
  --background-btn--secondary-color: #94b3fd;
  --text--main-color: #261c2c;
  --text--secondary-color: #ffffff;
  --text--third-color: #94b3fd;
  --text--mainOp-color: rgba(38, 28, 44, 0.8);
}

html[data-theme='dark'] {
  --background--main-color: #6e85b2;
  --background--secondary-color: #3e2c41;
  --background--third-color: #5c527f;
  --background-btn--main-color: #b37a5c;
  --background-btn--secondary-color: #3e2c41;
  --text--main-color: #ffffff;
  --text--secondary-color: #b37a5c;
  --text--third-color: #3e2c41;
  --text--mainOp-color: rgba(255, 255, 255, 0.7);
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  text-decoration: none;
  outline: none !important;
  text-decoration: none !important;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--background--main-color);
}

.disabled {
  display: none !important;
}

.container {
  position: absolute;
  margin: auto;
  top: 0;
  width: min(375px, 100%);
  height: 812px;

  background: var(--background--secondary-color);
  border: 1px solid var(--background--third-color);
  box-sizing: border-box;
  border-radius: 35px;
}

.screen_container {
  position: relative;
  margin: 50px 32px;
}

.screen {
  position: absolute;
  width: 310px;
  height: 191px;

  background: var(--background--main-color);
  border-radius: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input_calc {
  margin: 22px 17px 0 17px;
  width: 90%;
  height: 35%;
  border: none;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: right;

  color: var(--text--mainOp-color);
  background: var(--background--main-color);
}

.input_result {
  margin: 0 17px 16px 17px;
  width: 90%;
  height: 35%;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: right;

  color: var(--text--main-color);
  background: var(--background--main-color);
}

.navbar_container {
  margin: 32px 32px;
  position: relative;
  top: 224px;
  width: 375px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navbar_left {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  left: -50%;
  transform: translatex(140%);

  justify-content: space-between;
  align-content: center;
  -webkit-transform: translatex(140%);
  -moz-transform: translatex(140%);
  -ms-transform: translatex(140%);
  -o-transform: translatex(140%);
}

.icon {
  color: var(--text--main-color);
}

.icon:hover {
  color: var(--text--secondary-color);
}

.navbar_right {
  position: relative;
  left: -15%;
  transform: translateX(100%);

  color: var(--text--secondary-color);
}

.navbar_right:active {
  color: var(--text--main-color);
}

.btn_primary {
  background: var(--background-btn--main-color);
  color: var(--text--third-color);
}

.btn_secondary {
  background: var(--background-btn--secondary-color);
  color: var(--text--main-color);
}

.btn_operators {
  color: var(--text--secondary-color);
}

.buttons_container button {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons_container button:hover,
.buttonsCon_container button:hover {
  background: var(--background-btn--main-color);
  color: var(--text--main-color);
}

.buttons_container button:active,
.buttonsCon_container button:active {
  top: 6px;
}

.buttons_container {
  position: absolute;
  width: 375px;
  height: 483px;
  left: 0px;
  top: 330px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  background: var(--background--third-color);
  border-radius: 35px;
}

.btn_left {
  margin: 40px 0 40px 33px;
  width: 60%;

  animation: slideDown 0.3s ease-in-out;
  -webkit-animation: slideDown 0.3s ease-in-out;
}

.btn_left .btns .row button,
.buttonsCon_container .btn_left .btns .row button {
  margin-top: 24px;
}

.operators_top {
  padding: 0 2px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--background-btn--secondary-color);
  border-radius: 50px;
}

.history_container {
  margin: 40px 0 40px 33px;
  width: 60%;

  animation: slideIn 0.3s ease-in-out;
  -webkit-animation: slideIn 0.3s ease-in-out;
}

.history {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.history_screen h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: var(--text--main-color);
}

.history_screen h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  color: var(--text--main-color);
}

.history_screen:first-child h3 {
  color: var(--text--mainOp-color);
}
.history_screen:first-child h2 {
  color: var(--text--mainOp-color);
}

.btn_history {
  justify-content: center;
  display: flex;
}

.btn_history button {
  width: 160px;
  height: 42px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--text--third-color);
  background: var(--background-btn--main-color);
}

.btn_right {
  display: flex;
  margin: 40px 33px 40px 17px;
  padding: 2px 0;
  width: 64px;
  height: 400px;

  justify-content: center;
  background: var(--background-btn--secondary-color);
  border-radius: 50px;
}

.btn_right .operators_right button {
  margin-bottom: 24px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.buttonsCon_container {
  position: absolute;
  width: 375px;
  height: 389px;
  left: 0px;
  top: 421px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: var(--background--third-color);
  border-radius: 35px;
  animation: slideIn 0.3s ease-out;
  -webkit-animation: slideIn 0.3s ease-out;
}

.buttonsCon_container button {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonsCon_container .btn_right {
  display: flex;
  margin: 40px 33px 40px 17px;
  padding: 2px 0;
  width: 64px;
  height: 311px;

  justify-content: center;
  background: var(--background-btn--secondary-color);
  border-radius: 50px;
}

.buttonsCon_container .btn_right .operators_right button {
  margin-bottom: 24px;
}

.buttonsCon_container .btn_left {
  margin: 18px 0 40px 33px;
  width: 60%;
}

/* Notes: 
1. Screen height: 281px;
2. Navbar top: 313px;
*/

@keyframes slideIn {
  0%,
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0%,
  100% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
  }
}
